{
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.go",
      "options": {
        "parser": "go",
        "tabWidth": 8,
        "printWidth": 120
      }
    }
  ]
}